.product__item {
	flex: 0 1 33.333%;
	padding: 0px 12px 0px 12px;
	overflow: hidden;
	margin-bottom: 40px;
}
.product__item a{
	color: var(--primary-color);
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.item__image {
	overflow: hidden;
}
.item__image img{
	object-fit: cover;
	width: 100%;
	display: block;
	transition: all 0.4s ease-in-out;
}
.product__item:hover .item__image img{
	transform: scale(1.2);
}
.item__name {
	padding: 16px 0px 12px 0px;
	font-weight: 600;
	font-size: 20px;
	line-height: 120%;
	text-transform: uppercase;
}
.item__cost {
	font-size: 24px;
	line-height: 120%;
	text-transform: uppercase;
}

@media (max-width: 1023.98px){
	.item__name{
		font-size: 18px;
	}
	.item__cost {
		font-size: 18px;
	}
}
@media (max-width: 768.98px){
	.product__item {
		flex: 0 1 50%;
		margin-bottom: 24px;
	}
	.item__name{
		font-size: 14px;
	}
	.item__cost {
		font-size: 14px;
	}
	.product__item{
		padding: 0px 8px 0px 8px;
	}
}